<!DOCTYPE html>
<html>
<head>
  <title>Fruitcake | Help</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Help<h2>
<p>Call 911.</p></body>
</html>
